<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-inner">
			<div class="container">
				<a href="#" class="navbar-brand">Treebook</a>
				<ul class="nav navbar-nav navbar-left">
					<!-- This is included here becuase this link is in the header which is always present! -->
      				<li><%= link_to "All Statuses", feed_path %></li> 
      			</ul>
      			<ul class="nav navbar-nav navbar-right">
      				<% if user_signed_in? %>
      					<!-- Note, you can replace new_user_registration_path with register_path since we gave it an as: :register. Same with other paths! -->
	      				<li><%= link_to current_user.full_name, edit_path %></li>
	      				<!-- Note: we had to delete the ", method: :delete %>" argument when chagning from the original path -->
	      				<li><%= link_to "Log Out", logout_path %></li>
      				<% else %>
      					<li><%= link_to "Register", register_path %></li>
      					<li><%= link_to "Login ", login_path %></li>
      				<% end %>
      			</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<!-- Checks for an alert. Note: "" or 0 === false -->
		<% flash.each do |type, message| %>
			<div class="alert alert-dismissable <%= flash_class type %>">
  				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  				<!-- erb here displays the flash notice messages -->
  				<%= message %>
			</div>
		<% end %>
		<%= yield %>
	</div>
</body>
</html>
